body{
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow-x: hidden;
}

img{
    width: 100%;
    display: block;
    -webkit-user-drag: none;
    user-drag: none;
}

* {
    margin: 0px;
    padding: 0px;
}
