.main .card {
  position: relative;
}
.main .card .card-img {
  width: 50%;
  height: fit-content;
  display: block;
  margin: 0 auto;
}
.main .card .glogo {
  position: absolute;
  left: 25%;
  top: 2%;
  width: 15%;
}
.main .card h1 {
  font-size: 16px;
  margin-top: 10px;
  padding: 0 0.4rem;
}
.main .card .info-sec {
  padding: 0 0.4rem;
  margin-top: 0.2rem;
}
.main .card .info-sec .sub-title {
  color: #999;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 768px) {
  .main .card .info-sec .sub-title {
    font-size: 11px;
  }
}
.main .card .info-sec .sub-title .sub-name {
  color: #333;
  margin-right: 4px;
}
.main .card .price-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px 0;
  padding: 0 0.4rem;
}
.main .card .price-box .price-sec {
  display: flex;
  align-items: baseline;
  gap: 4px;
  line-height: 1;
}
.main .card .price-box .price-sec .product-price {
  font-size: 16px;
  font-weight: 700;
  color: #dc2424;
}
.main .card .price-box .price-sec .product-price .twd {
  font-size: 9px;
  margin-right: 2px;
}
.main .card .price-box .price-sec .product-price-del {
  font-size: 10px;
  font-weight: 700;
  color: #999;
  margin-top: 10px;
}
.main .card .price-box .free {
  width: 60px;
  height: 20px;
  perspective: 1000px;
  /* margin-left: 6px; */
}
@media (max-width: 768px) {
  .main .card .price-box .free {
    width: 52px;
    height: 16px;
    /* position: absolute;
                    right: 15px;
                    top: -15px; */
  }
}
.main .card .price-box .free .free-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s 1s ease;
}
.main .card .price-box .free .free-inner .free-front,
.main .card .price-box .free .free-inner .free-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  font-size: 12px;
  margin: 0;
  font-weight: 700;
  line-height: 0;
  padding-top: 1px;
}
@media (max-width: 768px) {
  .main .card .price-box .free .free-inner .free-front,
  .main .card .price-box .free .free-inner .free-back {
    font-size: 10px;
  }
}
.main .card .price-box .free .free-inner .free-front {
  background-color: #fff4c9;
  color: var(--main-color);
  /* border: 1px solid var(--main-color); */
  transform: rotateY(0deg);
}
.main .card .price-box .free .free-inner .free-back {
  background-color: #dc2424;
  color: #fff;
  /* border: 1px solid #dc2424; */
  transform: rotateY(180deg);
}
.main .card .price-box .free .no-free {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background-color: #fff4c9;
  color: var(--main-color);
  line-height: 0;
  border-radius: 4px;
  /* padding-top: 1px; */
}
@media (max-width: 768px) {
  .main .card .price-box .free .no-free {
    font-size: 10px;
    height: 16px;
  }
}
.main .card .btn {
  background-color: #98ecae;
  color: #FFF;
  border-radius: 6px;
  padding: 8px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  border: none;
  transition: all 0.2s;
  position: relative;
  width: calc(100% - 0.8rem);
  text-align: center;
  display: block;
  margin: 0.2rem auto 0.4rem;
}
@media (max-width: 768px) {
  .main .card .btn {
    font-size: 14px;
    height: 0.72rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main .card .btn:before,
.main .card .btn:after {
  content: "";
  position: absolute;
  top: 50%;
  background-color: var(--nav-color);
  height: 110%;
  width: 0;
  z-index: -1;
  transition: all 0.7s 1.2s;
  transform: translateY(-50%);
}
.main .card .btn:before {
  left: 0%;
  border-radius: 0 6px 6px 0;
}
.main .card .btn:after {
  right: 0%;
  border-radius: 6px 0 0 6px;
}
.main .card .ensure-sec {
  padding: 0 0.2rem;
}
.main .card .ensure-sec .ensure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
}
.main .card .ensure-sec .ensure .ensure-item {
  place-self: center;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  color: #333;
}
@media (max-width: 768px) {
  .main .card .ensure-sec .ensure .ensure-item {
    font-size: 11px;
  }
}
.main .card .ensure-sec .ensure .ensure-item .righticon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  margin-right: 3px;
}
.main .card .ensure-sec .secret {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 6px;
  background-color: #fff4c9;
  padding: 6px 10px;
  border-radius: 4px;
}
.main .card .ensure-sec .secret p {
  font-size: 12px;
  font-weight: 500;
  color: #000;
}
@media (max-width: 768px) {
  .main .card .ensure-sec .secret p {
    font-size: 11px;
  }
}
.main .card .ensure-sec .secret p strong {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ffa127;
  font-weight: 700;
}
.main .card .ensure-sec .secret .secret-left {
  display: flex;
  align-items: center;
}
.main .card .ensure-sec .secret .secret-left .secreticon {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  transform-origin: bottom;
  animation: l20 1s infinite cubic-bezier(0.5, 120, 0.5, -120);
}
@keyframes l20 {
  0% {
    transform: translateY(-1px);
  }
  30%,
  70% {
    transform: translateY(-1px) rotate(0deg);
  }
  49.99% {
    transform: translateY(-1px) rotate(0.2deg);
  }
  50% {
    transform: translateY(-1px) rotate(-0.2deg);
  }
  100% {
    transform: translateY(-1px);
  }
}
.main .card.card-show .free-inner {
  animation: free 2s 0.6s cubic-bezier(0.4, 0, 0, 1.6) forwards;
}
@keyframes free {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-4px);
  }
  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}
.main .card.card-show .btn {
  /* color: #fff !important;
                box-shadow: #39005d7f 0 30px 60px -12px inset, #39005d7f 0 18px 36px -18px inset;
                background-color: #ffe3b1 !important; */
  z-index: 2;
}
.main .card.card-show .btn:before {
  width: 50% !important;
  left: 50% !important;
}
.main .card.card-show .btn:after {
  width: 50% !important;
  right: 50% !important;
}
