@bg-blue: #F6FCFF;
.page-head{
    flex-direction: column-reverse;
    .page-header-content{
        max-width: 1400px;
        width: 100%;
        font-size: 38px;
        min-height: 5rem;
        text-align: center;
        margin-top: -5rem;
        padding: 0 30px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: -5rem auto 0;
        @media screen and (max-width: 768px){
            width: 100%;
            padding: 25px 15px 0 15px;
            
        }
        h1{
            padding: 30px 30px 0;
            border-radius: 30px 30px 0 0;
            background-color: #fff;
            @media screen and (max-width: 768px){
                padding: 20px 15px 0;
                font-size: 26px;
            }
            &:after{
                margin: 20px auto;
                @media screen and (max-width: 768px){
                    margin: 10px auto;
                }
            }
            
        }
        .sub{
            font-size: 16px;
            width: 80%;
            margin: 0 auto;
            @media screen and (max-width: 768px){
                font-size: 14px;
            }
        }
    }
    .banner{
        img{
            object-position: top center;
        }
    }
}
.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 30px;
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    position: relative;
    &.reverse{
        flex-direction: row;
        @media screen and (max-width: 768px){
            flex-direction: column-reverse;
        }
    }
    
    @media screen and (max-width: 1080px){
        max-width: 1024px;
        padding: 0 30px;
        gap: 30px;
        margin: 140px auto;
    }
    @media screen and (max-width: 768px){
        max-width: 100%;
        padding: 0 15px;
        flex-direction: column;
        gap: 20px;
        margin: 60px auto;
    }
    .subtitle{
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        @media screen and (max-width: 768px){
            font-size: 18px;
        }
    }
    &.first-container{
        @media screen and (max-width: 768px){
            margin: 30px auto 60px;
        }
    }
    
}
.float-image{
    position: absolute;
    top: -20px;
    left: 45%;
    width: 200px;
    height: auto;
    z-index: 1;
    @media screen and (max-width: 768px){
        width: 120px;
        right: 15px;
        left: unset;
    }
}
.flex-row{
    display: flex;
    justify-content: center;
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}
.flex-row-reverse{
    display: flex;
    justify-content: right;
    @media screen and (max-width: 768px){
        flex-direction: column-reverse;
    }
}
.row{
    margin-bottom: 300px;
    @media screen and (max-width: 768px){
        margin-bottom: 100px;
    }
}
.sec-title{
    flex: 1;
    background: #FFFFFF;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
    @media screen and (max-width: 1024px){
        gap: 30px;
    }
    @media screen and (max-width: 1024px){
        gap: 20px;
    }
    
    .text{
        padding-left: 40px;
        font-size: 16px;
        text-align: justify;
        @media screen and (max-width: 1024px){
            padding: 0 20px;
        }
        @media screen and (max-width: 768px){
            font-size: 14px;
            padding: 0 15px;
        }
    }
    
}
.chart-container{
    flex: 1;
    aspect-ratio: 1/1;
    .chart-title{
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
    }
}
.image{
    flex: 1;
    border-radius: 30px;
    opacity: 1;
    overflow: hidden;
    height: fit-content;
    @media screen and (max-width: 768px){
        width: 100%;
    }
}
.channel{
    width: 100%;
    max-width: 100%;
    background-color: @bg-blue;
    padding: 200px 30px;
    flex-direction: column;
    border-radius: 30px;
    @media screen and (max-width: 768px){
        padding: 60px 15px;
    }
    
    .title{
        text-align: center;
        &:after{
            margin: 20px auto;
            @media screen and (max-width: 768px){
                margin: 10px auto;
            }
        }
    }
    

    .picture{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin: 0 auto;
        max-width: 860px;
        @media screen and (max-width: 768px){
            flex-direction: column;
        }
        .image{
            position: relative;
            &:last-child{
                flex: 1.5;
            }
            @media screen and (max-width: 768px){
                margin: 0 auto;
                &:first-child{
                    width: 75%;
                    
                }
            }
            
            &:after{
                content: "";
                position: absolute;
                background-color: rgba(10,123,197,0.5);
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 2;
            }

            .content{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 3;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                .content-title{
                    font-size: 38px;
                    font-weight: 500;
                    @media screen and (max-width: 768px){
                        font-size: 28px;
                    }
                }
                .content-list{
                    display: flex;
                    flex-wrap: wrap;
                    width: 250px;
                    justify-content: center;
                    gap: 10px;
                    .content-item{
                        background-color: rgba(0,0,0,0.2);
                        height: 30px;
                        border-radius: 30px;
                        display: flex;
                        align-items: center;
                        padding: 0 16px 0 10px;
                        gap: 6px;
                        i{
                            background-color: #00b135;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 700;
                        }
                        span{
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                } 
            }
            &:hover{
                .scale-img{
                    transform: scale(1.1);
                }
            }
        }
    }
    .dosage-list{
        width: 100%;
        margin: 30px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 800px;
        @media screen and (max-width: 768px){
            margin: 0 auto;
            padding: 0;
        }
        .dosage{
            width: 100%;
            padding: 10px 30px;
            display: flex;
            align-items: center;
            gap: 4px;
            background-color: #f2f2f2;
            border-radius: 20px;
            overflow: hidden;
            border: 2px solid transparent;
            transition: all .3s ease;
            &:hover{
                transform: scale(1.05);
                border: 2px solid var(--main-color);
            }
            @media screen and (max-width: 768px){
                padding: 10px 0;
                gap: 0;
                flex-wrap: wrap;
            }
            .ad-pic{
                height: 140px;
                width: auto;
                object-fit: contain;
                @media screen and (max-width: 768px){
                    height: 110px;
                }
            }
        
            .ad-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media screen and (max-width: 768px){
                    flex: 1;
                }
                .p1 {
                    font-size: 18px;
                    font-weight: 500;
                    display: flex;
                    align-items: baseline;
                    flex-direction: column;
                    color: #000;
                    .highlight{
                        color: var(--main-color);
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 15px;
                    }
                }
        
                .p2 {
                    font-size: 14px;
                    color: #666;
                    margin-top: 10px;
                    @media screen and (max-width: 768px) {
                        font-size: 12px;
                    }
                }
            }
        
            .ad-btn {
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                background-color: var(--main-color);
                color: white;
                padding: 0 16px;
                border-radius: 20px;
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                margin-left: auto;
                @media screen and (max-width: 768px){
                    width: 80%;
                    margin: 0 auto;
                    font-size: 13px;
                    padding: 6px 14px;
                }
                i{
                    font-size: 12px;
                    font-weight: 700;
                }
            }
        }
    }
}
.experience{
    @media screen and (min-width: 768px){
        flex-direction: column;
        gap: 30px;
    }
    .title{
        text-align: center;
        &:after{
            margin: 20px auto;
            @media screen and (max-width: 768px){
                margin: 10px auto;
            }
        }
    }
    .content{
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: 768px){
            flex-direction: column;
            margin-top: 0;
        }
        .present{
            width: 460px;
            flex-shrink: 0;
            @media screen and (max-width: 768px){
                width: 100%;
                text-align: center;
            }
            .text{
                font-size: 16px;
                margin-bottom: 100px;
                text-align: justify;
                @media screen and (max-width: 768px){
                    padding: 0 15px;
                    margin-bottom: 20px;
                    font-size: 14px;
                }
            }
            
        }


        .accordion{
            display: flex;
            @media screen and (max-width: 768px){
                margin-top: 80px;
                width: 100%;
                justify-content: center;
            }
            .back{
                width: 120px;
                height: 300px;
                border-radius: 60px;
                transition: all .7s ease 0s;
                position: relative;
                object-fit: cover;
                filter: brightness(0.7);
                @media screen and (max-width: 768px){
                    width: 20%;
                    height: 200px;
                    border-radius: 40px;
                }
                &:nth-child(2){
                    margin-top: -60px;
                }
                &:nth-child(3){
                    margin-top: 30px;
                }
                &:nth-child(4){
                    margin-top: -30px;
                }
                &:nth-child(5){
                    margin-top: 15px;
                }
                &:hover{
                    width: 200px;
                    filter: brightness(1);
                    @media screen and (max-width: 768px){
                        width: 40%;
                    }
                }
            }
        }
    }
    .news-list{
        width: 100%;
        margin: 0 auto;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 40px auto;
        padding: 0 30px;
        align-items: start;
        @media screen and (max-width: 768px){
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: auto;
            padding: 0 15px;
            margin: 30px auto 0;
            gap: 20px;
        }
        .subtitle{
            place-self: center;
            @media screen and (min-width: 768px){
                grid-column: 1 / 4;
                grid-row: 1 / 2;
            }
        }
    }
    
}
.news-item{
    width: 320px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: hidden;
    opacity: 1;
    text-align: center;
    padding-bottom: 20px;
    @media screen and (max-width: 768px){
        width: 100%;
    }
    .news-image{
        width: 100%;
        min-height: 150px;
    }

    .news-title{
        font-size: 22px;
        font-weight: 500;
        margin: 20px 0;
        padding: 0 30px;
        @media screen and (max-width: 768px){
            font-size: 18px;
            margin: 15px 0;
        }
    }
    .news-desc{
        font-size: 14px;
        color: #666;
        margin-bottom: 10px;
        padding: 0 30px;
        text-align: justify;
    }
    .more{
        font-size: 16px;
        font-weight: 500;
        color: var(--main-color);
        text-decoration: underline;
        @media screen and (max-width: 768px){
            font-size: 14px;
        }
    }
    
}
.faq-section {
    max-width: 800px;
    width: 100%;
    padding: 0 30px;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    @media screen and (max-width: 768px){
        padding: 0 15px;
    }
    .title{
        &:after{
            margin: 20px auto;
            @media screen and (max-width: 768px){
                margin: 10px auto;
            }
        }
    }
    .faq-item {
        margin-bottom: 10px;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        overflow: hidden;
        height: var(--collapsed-height, 60px);
        transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        
        &.open {
            height: var(--expanded-height, auto);
            
            .faq-question {
                background-color: darken(#E5E5E5, 5%);
                color: #000;
            }
            
            .faq-icon {
                transform: rotate(180deg);
            }
            
        }
        
        .faq-question {
            height: 60px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
            background-color: #E5E5E5;
            cursor: pointer;
            transition: background-color 0.3s ease;
            -webkit-tap-highlight-color: transparent;
            &::-webkit-details-marker {
                display: none;
            }
            @media screen and (max-width: 768px){
                padding: 0 15px;
            }
            
            .question-text {
                font-size: 16px;
                font-weight: 400;
                color: #3d3d3d;
                text-align: left;
                @media screen and (max-width: 768px){
                    font-size: 14px;
                }
            }
            
            .faq-icon {
                transition: transform 0.3s ease;
                color: #3d3d3d;
            }
        }
        
        .faq-answer {
            padding: 15px 30px;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 1.6;
            color: #3d3d3d;
            text-align: justify;
            @media screen and (max-width: 768px){
                padding: 15px;
            }
        }
    }
    
}
.news{
    grid-template-columns: repeat(3,320px);
    grid-template-rows: auto auto;
    display: grid;
    gap: 0 30px;
    place-content: center;
    margin: 200px auto 0;
    @media screen and (max-width: 768px){
        margin-bottom: 100px;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        background-color: @bg-blue;
        margin: 0;
        padding-bottom: 80px;
    }

    .sec-title{
        width: 80vw;
        padding: 100px 0 300px;
        background-color: @bg-blue;
        border-radius: 30px;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        place-self: center;
        text-align: center;
        @media screen and (max-width: 768px){
            width: 100%;
            padding: 60px 15px 30px;
            grid-column: 1;
            grid-row: 1;
            background-color: unset;
            border-radius: 0;
        }
        .title{
            text-align: center;
            &:after{
                margin: 20px auto;
                @media screen and (max-width: 768px){
                    margin: 10px auto;
                }
            }
        }

        .text{
            width: 800px;
            margin: 0 auto;
            padding: 0;
            text-align: justify;
            @media screen and (max-width: 768px){
                width: 100%;
                font-size: 14px;
            }
        }
    }
    .news-item{
        width: calc(100% - 30px);
        margin: 0 auto 30px;
        @media screen and (min-width: 768px){
            transform: translateY(-50%);
            width: 100%;
        }
       
    }
}
.title{
    font-size: 52px;
    font-weight: 500;
    position: relative;
    @media screen and (max-width: 1024px){
        font-size: 42px;
    }
    @media screen and (max-width: 768px){
        font-size: 24px;
    }
    &:after{
        display: block;
        content: "";
        width: 4rem;
        height: 0.25rem;
        border-radius: 4px;
        background-color: var(--sub-color);
        margin-top: 20px;
        @media screen and (max-width: 768px){
            margin-top: 10px;
        }
    }
}
.more{
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color);
    line-height: 22px;
    text-decoration: underline;
    @media screen and (max-width: 768px){
        font-size: 14px;
    }
}
