.billboard {
  display: none;
}
.news-container {
  max-width: 800px;
  width: 100%;
  margin: 30px auto 100px;
  padding: 0 30px;
}
.news-container .news-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news-container .news-head .title {
  font-size: 40px;
  font-weight: 500;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .news-container .news-head .title {
    font-size: 32px;
  }
}
.news-container .news-head .source-date a {
  color: var(--main-color);
  text-decoration: underline;
}
.news-container .news-head .source-date span:before {
  content: "|";
  padding: 0 12px;
}
.news-container .news-content {
  margin-top: 60px;
}
.news-container .news-content h2,
.news-container .news-content h3,
.news-container .news-content h4,
.news-container .news-content h5,
.news-container .news-content h6 {
  margin: 60px 0 20px;
}
.news-container .news-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .news-container .news-content p {
    font-size: 14px;
  }
}
.news-container .news-content img {
  width: 100%;
  height: inherit;
}
.news-container .news-foot p {
  font-size: 16px;
  font-weight: 500;
}
.news-container .news-foot .news-share {
  display: flex;
  gap: 10px;
  margin-top: 100px;
}
.news-container .news-foot .news-share .share-list {
  display: flex;
  gap: 30px;
}
.news-container .news-foot .news-share .share-list .social-icons {
  width: 20px;
  height: 20px;
}
.news-container .news-foot .recommend {
  margin-top: 60px;
}
.news-container .news-foot .recommend .recommend-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .news-container .news-foot .recommend .recommend-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.news-container .news-foot .recommend .recommend-list .recommend-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  overflow: hidden;
  opacity: 1;
  text-align: center;
  padding-bottom: 20px;
}
.news-container .news-foot .recommend .recommend-list .recommend-item .news-image {
  width: 100%;
  min-height: 150px;
}
.news-container .news-foot .recommend .recommend-list .recommend-item .news-title {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0;
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .news-container .news-foot .recommend .recommend-list .recommend-item .news-title {
    font-size: 18px;
    margin: 15px 0;
  }
}
.news-container .news-foot .recommend .recommend-list .recommend-item .more {
  font-size: 16px;
  font-weight: 500;
  color: var(--main-color);
  text-decoration: underline;
}
